
<li class="media">

  <!-- vote buttons -->
  <div class="media-left">
    <% if logged_in? and item.up_voted_by?(current_user) %>
      <!-- up voted by current user -->
      <%= link_to content_tag(:span, '',  :class => 'glyphicon glyphicon-triangle-top'),     vote_item_path(item.id), method: :post,     class: 'text-danger' %>
      <%= link_to content_tag(:span, '',  :class => 'glyphicon glyphicon-triangle-bottom'),  vote_item_path(item.id), method: :delete,   class: 'text-info' %>
    <% elsif logged_in? and item.down_voted_by?(current_user)  %>
      <!-- down voted by current user -->
      <%= link_to content_tag(:span, '',  :class => 'glyphicon glyphicon-triangle-top'),     vote_item_path(item.id), method: :post,     class: 'text-info' %>
      <%= link_to content_tag(:span, '',  :class => 'glyphicon glyphicon-triangle-bottom'),  vote_item_path(item.id), method: :delete,   class: 'text-danger' %>
    <% else %>
      <!-- not voted for / not logged in -->
      <%= link_to content_tag(:span, '',  :class => 'glyphicon glyphicon-triangle-top'),     vote_item_path(item.id), method: :post,     class: 'text-info' %>
      <%= link_to content_tag(:span, '',  :class => 'glyphicon glyphicon-triangle-bottom'),  vote_item_path(item.id), method: :delete,   class: 'text-info' %>
    <% end %>
  </div>

  <div class="media-body">
    <h4 class="media-heading">

      <!-- video thumb - if youtube -->
      <% if item.host == "youtube.com"
        vid_regex = /(youtu.be\/|youtube.com\/(watch\?(.*&)?v=|(embed|v)\/))([^\?&\"\'>]+)/
        vid_id = vid_regex.match(item.url)[5] # TODO: Not sure if this works with mobile/sharing youtube url formats
        %>
        <%= image_tag "http://img.youtube.com/vi/#{vid_id}/mqdefault.jpg", class: "media-thumb" %>
      <% end %>

      <!-- title -->
      <% if item.url.present? %>
        <%= link_to item.title, item.url, title: item.url, target: '_blank' %>
        <small>(<%= item.host %>)</small>
      <% else %>
        <%= link_to item.title, item, title: truncate(item.content, length: 30) %>
        <small><%= link_to '[discussion]', item %></small>
      <% end %>

    </h4>
    <small>

      <!-- meta -->
      <%= item.score %> <%= pluralize_without_count(item.score.abs, 'point') %>
      <% if item.user %>
        by <%= render_link_to_user(item.user) %>
      <% end %>
      | <%= link_to "#{time_ago_in_words(item.created_at)} ago", item %>
      | <%= link_to "#{item.comments_count} comments", item_path(item, anchor: 'comments') %>
    </small>
  </div>
</li>
